<div class="product-container">
    <img class="product-image" [src]="product.img" alt="Product Image">
    <div class="details">
        <div class="header">
            <h2 class="product-name">{{product.name}}</h2>
        </div>
        <div class="price">
            <span>Giá: {{product.price | number: '.0-3'}} đ</span>
        </div>
        <div class="description">
            <p>{{product.description}}</p>
        </div>
        <div class="quantity">
            <label for="quantity">Số lượng:</label>
            <input style="width: 50px;" type="number" id="quantity" name="quantity" min="1" [(ngModel)]="quantity">
        </div>
        <br>
        <button (click)="addtoCart()" class="add-to-cart">Thêm vào giỏ hàng</button>
    </div>
</div>