.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    font-size: 16px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-links {
    text-align: right;
    margin-top: 20px;
    margin-right: 27px;
}

.fa {
    font-size: 24px;
    margin-right: 10px;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}