<div class="container">
    <h2>Liên hệ</h2>
    <p>Vui lòng liên hệ với chúng tôi nếu bạn có bất kỳ câu hỏi hoặc phản hồi nào:</p>
    <ul>
        <li>Email: dinhquyle1055@gmail.com</li>
        <li>Số điện thoại:0358 638 404</li>
        <li>Địa chỉ: Q.Bình Tân, Tp.HCM</li>
    </ul>
    <div class="social-links">
        <a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>
        <a href="https://twitter.com/" target="_blank" class="fa fa-twitter"></a>
    </div>
</div>